.pets-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.pets-name, .pets-breed {
  grid-column: span 2;
}
.pets-birthday, .pets-gender, .pets-spayed-neutered, .pets-weight {
  grid-column: span 1;
}
.pets-form label {
  display: block;
  margin-bottom: 5px;
}
.pets-form input[type="text"], .pets-form input[type="date"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pets-form input[type="radio"] {
  display: none;
}
.pets-form input[type="radio"]:checked + label {
  background: #ccc;
}
.pets-form button {
  background: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.pets-form button:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 128, 0, 0.8); /* Fondo verde */
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos del contenido del modal */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Estilos para la animación de rotación */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos para el cierre del modal */
.close {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}