.pets{
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: grid;
  grid-template-columns: 
    repeat(
      auto-fit,
      minmax(150px, 1fr)
    );
  width: auto;
  margin-top: 15px;
}

.pets-available{
  
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

article{
  padding-left: 40px;
  display: flex;
  width: auto;
}

.pet-background{
  z-index: 2;
  border-radius: 20px;
  height: 180px;
  width: 150px;
  background-color: #FFE4B5;
}

.pet-background img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.pet-info{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 15px;
  margin-left: -20px;
  height: 150px;
  width: 250px;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-top: 20px;
}


.name-gender{
  display: flex;
}

.gender{
  margin-left: 80px;
}

.btn-more{
  border: 1px solid #EE6451;
  background-color: #EE6451;
  color:white;
  cursor: pointer;
  width: auto;
  border-radius: 15px;
  padding: 10px;
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
}

.btn-more:hover{
  border: 1px solid #EE6451;
  transition: color 0.3s;
  background-color: #FFFFFF;
  color: #EE6451;
  border-color:  solid #EE6451;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}

/* Estilos para el modal */

/* Resto de los estilos necesarios */
