<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/modal.css">
    <link rel="stylesheet" href="./styles/sideBar.css">
    <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <title>Dar en adopción</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">PetMatch</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
    
        <ul class="nav-list">
          <li>
            <a href="home.html" >
              <i class="fa-solid fa-shield-dog"></i>
              <span class="links_name">Adoptar</span>
            </a>
            <span class="tooltip">Adoptar</span>
          </li>
    
         <li>
           <a href="giveToAdopt.html">
            <i class="fas fa-hand-holding-heart"></i>
             <span class="links_name">Dar en adopción</span>
           </a>
           <span class="tooltip">Dar en adopción</span>
         </li>
    
         <li>
           <a href="lostPets.html">
            <i class="fas fa-exclamation-triangle"></i>
             <span class="links_name">Mascotas perdidas</span>
           </a>
           <span class="tooltip">Mascotas perdidas</span>
         </li>
    
         <li>
           <a href="adoptionApplication.html">
            <i class="fas fa-heart"></i>
             <span class="links_name">Solicitudes de adopción</span>
           </a>
           <span class="tooltip">Solicitudes de adopción</span>
         </li>
    
         <li>
           <a href="settings.html">
            <i class="fas fa-cog"></i>
             <span class="links_name">Configuración</span>
           </a>
           <span class="tooltip">Configuración</span>
         </li>
    
         <li class="profile">
             <div class="profile-details">
               <img src="" alt="profileImg">
               <div class="name_job">
                 <div class="name">Santiago Escoabr</div>
                 <div class="job">Web developer</div>
               </div>
             </div>
             <i class='fas fa-sign-out-alt' id="log_out" ></i>
         </li>
        </ul>
      </div>

      <section class="home-section">
        <section class="modal">
          <div class="modal_container">
              <!-- Formulario para agregar mascotas -->

              <div class='signup-container'>
                <div class='right-container'>
                    <header>
                        <h1>¡Asegúrate de que tu mascota reciba el mejor cuidado!</h1>
                        <div class='set'>
                            <div class='pets-name'>
                                <label for='pets-name'>Nombre</label>
                                <input id='pets-name' placeholder="Nombre" type='text'>
                            </div>
                            <div class='pets-photo'>
                                <button id='pets-upload'>
                                    <i class='fas fa-camera-retro'></i>
                                </button>
                                <label for='pets-upload'>Subir una foto</label>
                            </div>
                        </div>
                        <div class='set'>
                            <div class='pets-breed'>
                                <label for='pets-breed'>Raza</label>
                                <input id='pets-breed' placeholder="Raza de la mascota" type='text'>
                            </div>
                            <div class='pets-birthday'>
                                <label for='pets-birthday'>Cumpleaños</label>
                                <input id='pets-birthday' placeholder='MM/DD/AAAA' type='text'>
                            </div>
                        </div>
                        <div class='set'>
                            <div class='pets-gender'>
                                <label for='pet-gender-female'>Género</label>
                                <div class='radio-container'>
                                    <input checked='' id='pet-gender-female' name='pet-gender' type='radio' value='female'>
                                    <label for='pet-gender-female'>Hembra</label>
                                    <input id='pet-gender-male' name='pet-gender' type='radio' value='male'>
                                    <label for='pet-gender-male'>Macho</label>
                                </div>
                            </div>
                            <div class='pets-spayed-neutered'>
                                <label for='pet-spayed'>Esteril o Castrado</label>
                                <div class='radio-container'>
                                    <input checked='' id='pet-spayed' name='spayed-neutered' type='radio' value='spayed'>
                                    <label for='pet-spayed'>Estéril</label>
                                    <input id='pet-neutered' name='spayed-neutered' type='radio' value='neutered'>
                                    <label for='pet-neutered'>Castrado</label>
                                </div>
                            </div>
                        </div>
                    </header>
                    <footer>
                        <div class='set'>
                            <button id='back' class="modal_close">Atrás</button>
                            <button id='next'>Ingresar</button>
                        </div>
                    </footer>
                </div>
            </div>
            
              
        </div>
          </div>
        </section>

        <section class="feed">
        <section class="pets-available">
        <div class="pets">
          <article class="pet-view">
            <div class="pet-background">
                <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
            </div>
            <div class="pet-info">
              <div class="pet-info-column">
                <div class="name-gender">
                  <div class="name">
                    <h2>Hannah</h2>
                  </div>
                  <div class="gender">
                    <i class="fas fa-venus"></i>
                  </div>
                </div>
                <div class="age">
                  <p>2 años de edad</p>
                </div>
              <div class="more">
                <button class="btn-edit"><i class="fas fa-edit"></i></button>
                <button class="btn-delete"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </article>
        </div>

        <div class="pets">
          <article class="pet-view">
            <div class="pet-background">
                <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
            </div>
            <div class="pet-info">
              <div class="pet-info-column">
                <div class="name-gender">
                  <div class="name">
                    <h2>Hannah</h2></div>
                  <div class="gender">
                    <i class="fas fa-venus"></i>
                  </div>
                </div>
                <div class="age">
                  <p>2 años de edad</p>
                </div>
              <div class="more">
                <button class="btn-edit"><i class="fas fa-edit"></i></button>
                <button class="btn-delete"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </article>
        </div>

      <div class="add"><a href="#" class="hero_cta"><i class="fas fa-plus"></i></a></div> 
      
      </section>
      
      <script src="registerPet.js"></script>
      <script src="giveTo.js"></script>
<script src="navigation.js"></script>   
<script src="main.js"></script>
</body>
</html>