<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/sideBar.css">
    <link rel="stylesheet" href="./styles/home.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
      <li>
        <a href="home.ejs" >
          <i class="fa-solid fa-shield-dog"></i>
          <span class="links_name">Adoptar</span>
        </a>
        <span class="tooltip">Adoptar</span>
      </li>

     <li>
       <a href="giveToAdopt.html">
        <i class="fas fa-hand-holding-heart"></i>
         <span class="links_name">Dar en adopción</span>
       </a>
       <span class="tooltip">Dar en adopción</span>
     </li>

     <li>
       <a href="lostPets.html">
        <i class="fas fa-exclamation-triangle"></i>
         <span class="links_name">Mascotas perdidas</span>
       </a>
       <span class="tooltip">Mascotas perdidas</span>
     </li>

     <li>
       <a href="adoptionApplication.html">
        <i class="fas fa-heart"></i>
         <span class="links_name">Solicitudes de adopción</span>
       </a>
       <span class="tooltip">Solicitudes de adopción</span>
     </li>

     <li>
       <a href="settings.html">
        <i class="fas fa-cog"></i>
         <span class="links_name">Configuración</span>
       </a>
       <span class="tooltip">Configuración</span>
     </li>

     <li class="profile">
         <div class="profile-details">
           <img src="" alt="profileImg">
           <div class="name_job">
             <div class="name" id="userName"><p><%= user.name %></p></div>
             <a href="/logout"><i class='fas fa-sign-out-alt' id="log_out" ></i></a>
             <!-- <div class="job">Web developer</div> -->
           </div>
         </div>
         
    </ul>
  </div>

  <!-- Profile Content -->
  <section class="home-section">
    <div class="info-location">
      <div class="location">
        <p>Location</p>
        <i class="fas fa-map-marker-alt"></i><span class="city">Bogota,</span><span class="country">Colombia</span>
      </div>
    </div>

    <section class="feed">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Buscar mascota..."/><i class="fas fa-bars"></i> 
      </div>

      <div class="choose-pet">
        <div class="pet-selector">
          <div class="pet-icon active">
            <i class="fas fa-dog active"></i>
          </div>      
          <span>Dogs</span> 
        </div>
        <div class="pet-selector">
          <div class="pet-icon">
            <i class="fas fa-cat"></i>
          </div>      
          <span>Cats</span> 
        </div>
      </div>

      <section class="pets-available">
        <div class="pets">
          <article class="pet-view">
            <div class="pet-background">
                <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
            </div>
            <div class="pet-info">
              <div class="pet-info-column">
                <div class="name-gender">
                  <div class="name">
                    <h2>Hannah</h2></div>
                  <div class="gender">
                    <i class="fas fa-venus"></i>
                  </div>
                </div>
                <div class="age">
                  <p>2 años de edad</p>
                </div>
              <div class="more">
                <button class="btn-more">Información</button>
              </div>
            </div>
          </div>
          </article>
        </div>

        <div class="pets">
          <article class="pet-view">
            <div class="pet-background">
                <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
            </div>
            <div class="pet-info">
              <div class="pet-info-column">
                <div class="name-gender">
                  <div class="name">
                    <h2>Hannah</h2></div>
                  <div class="gender">
                    <i class="fas fa-venus"></i>
                  </div>
                </div>
                <div class="age">
                  <p>2 años de edad</p>
                </div>
              <div class="more">
                <button class="btn-more">Información</button>
              </div>
            </div>
          </div>
          </article>
        </div>

        <div class="pets">
          <article class="pet-view">
            <div class="pet-background">
                <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
            </div>
            <div class="pet-info">
              <div class="pet-info-column">
                <div class="name-gender">
                  <div class="name">
                    <h2>Hannah</h2></div>
                  <div class="gender">
                    <i class="fas fa-venus"></i>
                  </div>
                </div>
                <div class="age">
                  <p>2 años de edad</p>
                </div>
              <div class="more">
                <button class="btn-more">Información</button>
              </div>
            </div>
          </div>
          </article>
        </div>

      <div class="pets">
        <article class="pet-view">
          <div class="pet-background">
              <img src="assets/img/feed/dogFeed.png" alt="Foto de la Mascota 1">
          </div>
          <div class="pet-info">
            <div class="pet-info-column">
              <div class="name-gender">
                <div class="name">
                  <h2>Hannah</h2></div>
                <div class="gender">
                  <i class="fas fa-venus"></i>
                </div>
              </div>
              <div class="age">
                <p>2 años de edad</p>
              </div>
            <div class="more">
              <button class="btn-more">Información</button>
            </div>
          </div>
        </div>
        </article>
      </div>   
      
    </section>
    </section>
    <script src="navigation.js"></script>   
    <script src="main.js"></script>
</body>
</html> 