<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@200;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./styles/index.css">
  <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
  <title>Index</title>
</head>
<body>
  <section class="container">
    <section class="left-section">
      <div class="title">
        <h1>Buscador de refugios animales</h1>
      </div>
      <div class="logo-title">
        <img src="./assets/img/index/logo-removebg-preview.png" alt="">
        <h1>PetMatch</h1>
      </div>
      <div class="startAdopting">
        <a class="adopt" href="/signin">Empieza a adoptar una mascota <i class="fas fa-map-marker-alt"></i></a>
      </div>      
    </section>
    
    <section class="right-section">
      <div class="down-section">
        <div class="circle">
          <i class="fa-solid fa-paw">
          </i>
        </div>

        <div class="triangle-section"></div>
        
      </div>
    </section>

  </section>
</body>
</html