<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/fd378db718.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./styles/index.css">
  <link rel="icon" href="./assets/img/index/logo-removebg-preview.png" type="image/png">

  <title>EverFind</title>
</head>
<body>
  <main>
    <section class="section-hero section">
      <header class="header">
        <p class="hero-top-data">EverFind</p>        
      </header>
      <div class="container grid grid-two-column">
        <div class="section-hero-data">
          <h1 class="hero-heading">Hogares <br> para <br> animales</h1>
          <p class="hero-para">
            Encuentra el refugio perfecto para las mascotas que necesitan un hogar. Nuestro buscador te ayuda a conectar con refugios cercanos y brindarles una segunda oportunidad a los animales necesitados.
          </p>
          <div>
            <a href="/signup" class="btn hireme-btn">Adopta ahora <i class="fas fa-paw"></i>
            </a>
          </div>
        </div>
        <!-- hero section right side  -->
        <div class="section-hero-image">
          <picture>
            
            <img
              src="assets/img/index/personLiftinDog.png"
              alt="this is me thapa technical"
              class="hero-img"
            />
          </picture>
        </div>
      </div>
    </section>
  </main>
</body>
</html>