<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="styles/form.css">
    <meta name="google-signin-client_id" content="982774708892-edt942q84021d9mop1rssjrvpe6h1vu6.apps.googleusercontent.com">

</head>
<body>
  <div class="container">
    <form id="registration-form" class="register-form" action="/signup" method="POST">
        <h1 class="title">Regístrate</h1>

        <div class="line-subtitle-container">
            <div class="line"></div>
            <span class="subtitle">Regístrate con</span>
        </div>
        <div class="button-container">
          <button class="google-button">
              <img src="assets/img/Register/logo-google.png" alt="Icono de Google" width="50" height="40">
              <span class="button-text">Continuar con Google</span>
          </button>
          <button class="facebook-button">
              <img src="assets/img/Register/logo-facebook.png" alt="Icono de Facebook" width="25" height="25">
              <span class="button-text">Continuar con Facebook</span>
          </button>
      </div>
      
      <div class="or-container">
        <span class="or-subtitle">O</span>
    </div>

    <div class="input-container">
      <label for="name" class="form-label">Nombre Completo</label>
      <input id="name" type="text" name="name" placeholder="Nombre completo" class="form-input">
  </div>
  <div class="email-container">
    <label for="email" class="form-label">Correo Electrónico</label>
    <input id="email" type="email" name="email" placeholder="Correo" class="form-input">
</div>
<div class="password-container">
  <label for="password" class="form-label">Contraseña</label>
  <input id="password" type="password" name="password" placeholder="Contraseña" class="form-input">
</div>
<div class="arrow-container">
  <button type="submit" class="">
    <svg xmlns="http://www.w3.org/2000/svg" width="140" height="140" viewBox="0 0 140 140" fill="none">
      <g filter="url(#filter0_d_27_244)">
        <rect x="30" y="20" width="80" height="80" rx="35" fill="#9D61F1"/>
      </g>
      <path d="M67.8928 50.8218L68.9939 49.6921C69.4601 49.2137 70.214 49.2137 70.6752 49.6921L80.317 59.5794C80.7832 60.0577 80.7832 60.8312 80.317 61.3044L70.6752 71.1968C70.209 71.6751 69.4551 71.6751 68.9939 71.1968L67.8928 70.0671C67.4216 69.5837 67.4316 68.7949 67.9126 68.3217L73.8892 62.4799H59.6348C58.9752 62.4799 58.4445 61.9354 58.4445 61.2586V59.6303C58.4445 58.9535 58.9752 58.409 59.6348 58.409H73.8892L67.9126 52.5672C67.4266 52.0939 67.4167 51.3052 67.8928 50.8218Z" fill="white"/>
      <defs>
        <filter id="filter0_d_27_244" x="0" y="0" width="140" height="140" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="10"/>
          <feGaussianBlur stdDeviation="15"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.615686 0 0 0 0 0.380392 0 0 0 0 0.945098 0 0 0 1 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_27_244"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_27_244" result="shape"/>
        </filter>
      </defs>
    </svg>
  </button>
</div>
<div class="login-container">
  <p class="login-text">¿Ya tienes una cuenta? <a href="/signin" class="login-link">Iniciar sesión</a></p>
</div>
</form>

    <div class="image-container">
      <img src="assets/img/Register/DrawKit Vector Illustration Animal & Pets (2).png" alt="Imagen">
  </div>
</body>
</html>
