<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign</title>
    <link rel="stylesheet" href="./styles/signin.css" />
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="/signin" autocomplete="off" class="sign-in-form" method="POST">
              <div class="logo">
                <img src="./assets/img/index/logo-removebg-preview.png" alt="easyclass" />
                <h4>EverFind</h4>
              </div>

              <div class="heading">
                <h2>Bienvenido</h2>
                <h6>¿No estás registrado?</h6>
                <a href="#" class="toggle">Regístrate</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="email"
                    id="email"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Correo</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Contraseña</label>
                </div>

                <input type="submit" value="Iniciar sesión" class="sign-btn" />

                <p class="text">
                  ¿Olvidaste tu contraseña?
                  <a href="#">Obtener ayuda</a>
                </p>
              </div>
              <% if (signinMessage) { %>
                <%= signinMessage %>
            <% } %>
            </form>

            
          
            

            <form action="/signup" autocomplete="off" class="sign-up-form" method="POST">
              <div class="logo">
                <img src="./assets/img/index/logo-removebg-preview.png" alt="easyclass" />
                <h4>FurEverFind</h4>
              </div>

              <div class="heading">
                <h2>Bienvenido</h2>
                <h6>¿Ya tienes una cuenta?</h6>
                <a href="#" class="toggle">Iniciar sesión</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Nombre completo</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Correo</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Contraseña</label>
                </div>

                <input type="submit" value="Registrarse" class="sign-btn" />

                <p class="text">
                  Al registrarme, estoy de acuerdo con
                  <a href="#">Términos de servicio</a> y
                  <a href="#">Políticas de privacidad</a>
                </p>
              </div>
            </form>
            <% if (signupMessage) { %>
              <%= signupMessage %>
          <% } %>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="./assets/img/login/login.png" class="image img-1 show" alt="" />
              <img src="./assets/img/Register/DrawKit Vector Illustration Animal & Pets (2).png" class="image img-2" alt="" />
              <img src="./assets/img/image3.png" class="image img-3" alt="" />
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Adopta una mascota</h2>
                  <h2>Postula a tus mascotas</h2>
                  <h2>Invita a tus amigos a adoptar</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="toasts.js"></script>
    <script src="slidelogin.js"></script>
  </body>
</html>