section{
    display: flex;
    margin: 0;
    padding: 0;
}

.left-side{
    height: 100vh;
    width: 60%;
    background-color: #FDF7F1;
}

.right-side{
    height: 100vh;
    width: 40%;
    background-color: #CBDA74;
}

.petz{
    align-items: center;
    justify-content: center;
}

.start a{
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
    font-style: none;
    cursor: pointer;
}